NEXT_PUBLIC_SUPABASE_URL="your-supabase-project-url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-service-role-key"

Razorpay_SECRET_KEY="your-razorpay-secret-key"
NEXT_PUBLIC_Razorpay_PUBLISHABLE_KEY="your-razorpay-publishable-key"
Razorpay_WEBHOOK_SECRET="your-razorpay-webhook-secret"
